h4{
   font-size: small; 
   margin-left: 15%;
}
nav{
    margin-left: 35%;
margin-top: -30px;
font-family: Arial, Helvetica, sans-serif;

}
nav a{
    color: black;
    font-size: x-small;
    font-weight: bold;
    margin-left: 2%;
text-transform:uppercase;
text-decoration: none;
}
#Contact{
    margin-left: 90%;
    border-radius: 30px 30px 30px 30px;
    transition-duration: 0.4s;
    position: relative;
    top: -20px;
    background-color: white;

}
#Contact:hover{
    background-color: aqua;
}
.agency{
margin-left: 8%;
margin-top: 5%;
font-size: smaller;
font-weight: normal;
}
.design{
    margin-left: 8%;
font-size: xxx-large;
letter-spacing: 2px;
font-weight: lighter;
font-family: Arial, Helvetica, sans-serif;
text-shadow: none;
}
#quote{
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 4%;
    padding: 12px 15px;
    border-radius: 30px 30px;
    text-decoration: none;
    background-color: white;
    transition-duration: 0.4s;
}
#quote:hover{
    background-color: aqua;
}

